.dropdown .btn {
    font-size: 0.9em;
    padding: 1px;
    height: 24px;
    width: 24px;
}

.dropdown .dropdown__selected {
    width: calc(100% - 25px);
    height: 24px;
    box-sizing: border-box;
}

.dropdown .dropdown__list.show {
    display: block;
}

.dropdown .dropdown__list.hide {
    display: none;
}