.dropdown {
    position: relative;
    width: 100%;
}

.dropdown .dropdown__selected {
    width: 80%;
    padding: 4px;
    border: 1px solid #dddddd;
    display: inline-block;
    height: 24px;
    box-sizing: border-box;
}

.dropdown .dropdown__list.show {
    display: block;
}

.dropdown .dropdown__list.hide {
    display: none;
}

.dropdown .dropdown__list {
    position: absolute;
    width: 100%;
    margin: 0;
    z-index: 2;
    background-color: white;
}

.dropdown .dropdown__list li {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    width: 82%;
    padding: 4px 0 4px 4px;
}